<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5" 
    id="cms">

  <!-- General configuration -->
  <display-name>My Hippo Project CMS</display-name>
  <description>My Hippo Project CMS</description>

  <context-param>
    <description>The address of the repository</description>
    <param-name>repository-address</param-name>
    <param-value>rmi://localhost:1099/hipporepository</param-value>
  </context-param>
  <context-param>
    <description>The (relative) location where to store files</description>
    <param-name>repository-directory</param-name>
    <param-value>WEB-INF/storage</param-value>
  </context-param>
  <context-param>
    <description>The location of the repository configuration file. Unless the location
    starts with file://, the location is retrieved from within the application package as
    resource.</description>
    <param-name>repository-config</param-name>
    <param-value>repository.xml</param-value>
  </context-param>

  <!--No concurrent logins-->
  <filter>
    <filter-name>ConcurrentLogin</filter-name>
    <filter-class>org.hippoecm.frontend.plugins.login.ConcurrentLoginFilter</filter-class>
  </filter>

  <!--Default application-->
  <filter>
    <filter-name>CMS</filter-name>
    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>cms</param-value>
    </init-param>
    <init-param>
      <param-name>applicationClassName</param-name>
      <param-value>org.hippoecm.frontend.Main</param-value>
    </init-param>
    <init-param>
      <param-name>filterMappingUrlPattern</param-name>
      <param-value>/*</param-value>
    </init-param>
    <init-param>
      <param-name>wicket.configuration</param-name>
      <param-value>deployment</param-value>
    </init-param>
    <init-param>
      <param-name>repository-address</param-name>
      <param-value>vm://</param-value>
    </init-param>
    <init-param>
      <param-name>upload-limit</param-name>
      <param-value>4096k</param-value>
    </init-param>
  </filter>

  <!--Builtin console-->
  <filter>
    <filter-name>Console</filter-name>
    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
    <init-param>
      <param-name>applicationClassName</param-name>
      <param-value>org.hippoecm.frontend.Main</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>console</param-value>
    </init-param>
    <init-param>
      <param-name>wicket.configuration</param-name>
      <param-value>deployment</param-value>
    </init-param>
    <init-param>
      <param-name>repository-address</param-name>
      <param-value>vm://</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>ConcurrentLogin</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CMS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Console</filter-name>
    <url-pattern>/console/*</url-pattern>
  </filter-mapping>
  
  <listener>
    <listener-class>org.hippoecm.frontend.plugins.login.ConcurrentLoginListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>XinhaResourceServlet</servlet-name>
    <servlet-class>org.onehippo.cms7.utilities.servlet.ResourceServlet</servlet-class>
    <init-param>
      <param-name>jarPathPrefix</param-name>
      <param-value>/xinha</param-value>
    </init-param>
    <init-param>
      <param-name>allowedResourcePaths</param-name>
      <param-value>
        ^/.*\..*
      </param-value>
    </init-param>
    <init-param>
      <param-name>cacheTimeout</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>SkinResourceServlet</servlet-name>
    <servlet-class>org.onehippo.cms7.utilities.servlet.ResourceServlet</servlet-class>
    <init-param>
      <param-name>jarPathPrefix</param-name>
      <param-value>/skin</param-value>
    </init-param>
    <init-param>
      <param-name>allowedResourcePaths</param-name>
      <param-value>
        ^/.*\..*
      </param-value>
    </init-param>
    <init-param>
      <param-name>cacheTimeout</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>org.hippoecm.repository.StatusServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>LoggingServlet</servlet-name>
    <servlet-class>org.hippoecm.repository.LoggingServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <!-- Repository -->
  <servlet>
    <servlet-name>Repository</servlet-name>
    <servlet-class>org.hippoecm.repository.RepositoryServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>

  <servlet> 
    <servlet-name>PingServlet</servlet-name> 
    <servlet-class>org.hippoecm.repository.PingServlet</servlet-class> 
    <init-param>
      <param-name>repository-address</param-name>
      <param-value>vm://</param-value>
    </init-param>
    <load-on-startup>5</load-on-startup> 
  </servlet> 

  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/status/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoggingServlet</servlet-name>
    <url-pattern>/logging/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Repository</servlet-name>
    <url-pattern>/repository/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping> 
    <servlet-name>PingServlet</servlet-name> 
    <url-pattern>/ping/</url-pattern> 
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>XinhaResourceServlet</servlet-name>
    <url-pattern>/xinha/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SkinResourceServlet</servlet-name>
    <url-pattern>/skin/*</url-pattern>
  </servlet-mapping>

  <!-- Timeout in minutes -->
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>

  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>

  <env-entry>
    <env-entry-name>logging/contextName</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>cms</env-entry-value>
  </env-entry>

</web-app>
